<div class="gameArea">
  total cards : {{ cardDeck.length }} <br />
  Dealer stands on all 17s
  <hr />
  <div class="dealer">
    Dealer ... <span *ngIf="showDealersCards"> ({{ dealerSum }}) </span>
    <div class="dealers-hand">
      <span *ngIf="dealerCards[0]">
        {{ dealerCards[0].cardName + " " + dealerCards[0].type }} ,
      </span>
      <span *ngIf="dealerCards[1] && showDealersCards">
        {{ dealerCards[1].cardName + " " + dealerCards[1].type }} ,
      </span>
      <span *ngIf="!showDealersCards">
        ?
      </span>
      <!-- <span *ngFor="let card of dealerCards"> </span> -->
    </div>
  </div>
  <hr />
  <div class="player">
    Player... ({{ playerSum }})
    <hr />
    <div class="players-hand">
      <span *ngFor="let card of userCards">
        <span *ngIf="card"> {{ card.cardName + " " + card.type }} , </span>
      </span>
    </div>
    <br />
    <br />
    <br />
    <div class="player-actions">
      {{ randomNum }}
      <div class="hit player-action-btns" (click)="drawCardsForUser()">HIT</div>
      <div class="stay player-action-btns" (click)="dealersTurn()">STAY</div>
    </div>
  </div>
</div>
